<mat-card>
  <mat-card-title [ngStyle]="{'background-color': getCor()}">
    <strong>{{alerta.label}}</strong>
  </mat-card-title>
  <mat-card-content>
    <p *ngIf="alerta.margem" id="margem">
      <strong>Margem: </strong>{{alerta.margem}}</p>
    <p id="aonde">
      <strong>Aonde: </strong>{{alerta.pontoDeVenda}}</p>
    <p id="quando">
      <strong>Quando: </strong>{{alerta.dataCadastro | date:"dd/MM/yyyy HH:mm"}}
    </p>
    <p id="sobre">
      <strong>Sobre: </strong>{{alerta.sobre}}</p>
    <p id="descricao">
      <strong>Descrição: </strong>{{alerta.descricao}}</p>

  </mat-card-content>
</mat-card>